/* you can add any styles you think could improve user's experience */

.wrapper_items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3em;
  justify-content: start;
  width: 75%;
  margin-top: 3em;
  height: fit-content;

}

.ui.card{
  margin: 0;

}

.div_item{
  margin: 0.5em 0.5em 0.5em 0;
  width: 20%;
  display: flex;
}

.wrapper_{
  display: flex;
flex-wrap: nowrap;
}

.wrapper_shoppingList{
  display: flex;
    width: fit-content;
    margin: 1em;
}


.wrapper{
  display: flex;
    flex-direction: column;
}

.wrapper_shopTitle{
  align-content: center;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}
